@model ForumIndexModel;

<div class="d-flex flex-align-items-center">
    <span class="fw-bold fs-3 px-3">Forums</span>
    @if(User.IsInRole("Admin")){
        <a asp-action="Create" asp-controller="Forum" class="btn btn-primary m-2">Create Forum</a>
    }
    
</div>
<table class="table table-hover" id="forumTable">
    <tbody>
        @foreach(var forum in Model.ForumList){
            <tr>
                <td>
                    <a asp-action="Topic" asp-controller="Forum" asp-route-id="@forum.Id">
                        @forum.Name</a>
                </td>
                <td>@forum.Description</td>
            </tr>
        }
    </tbody>
</table>